* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: #f61414;
    display: flex;
    justify-content: center;
}

.color-palette {
    background: #ffffff6a;
    position:fixed;
    bottom: 0;
    margin-bottom: 20px;
    width: 500px; /*!*/
    height: 50px;
    border-radius: 20px;;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0 4px 0px rgb(145, 142, 142);
    backdrop-filter: blur(50px);
}

.color {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    corner-shape: squircle;
}